---
import MainLayout from "../../layouts/MainLayout.astro";

---

<MainLayout>
<h1>Estas son las publicaciones</h1>

<ul>
    <li>
        <a href="/posts/first_post">Mi primer post</a>
    </li>
</ul>
</MainLayout>